.auth_page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-family: "Roboto Mono", monospace;
}
  
.auth_page h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.auth_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.auth_form input {
  margin-top:10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #cccccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.auth_form input:focus {
  border-color: #efda38;
  box-shadow: 0 0 10px rgba(239, 218, 56, 0.5);
}

.auth_form button {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: #000000;
  background-color: #efda38;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top:20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.auth_form button:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.auth_form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.auth_link {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  color: #333333;
  text-align: center;
  margin-top: 10px;
}

.auth_link a {
  color: #efda38;
  text-decoration: none;
  font-weight: bold;
}

.auth_link a:hover {
  text-decoration: underline;
}

.message {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  color: #28a745;
  text-align: center;
  margin-top: 10px;
}
