@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

.finish_page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:  20px;
  font-family: "Roboto Mono", monospace;
}

.finish_page h1 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.finish_page p {
  width: 80%;
  text-align: left;
  font-size: 18px;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.6;
}

.finish_page h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.finish_image {
  width: 200px;
}

.feedback_input {
  width: 80%;
  max-width: 700px;
  height: 150px;
  font-size: 16px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  padding: 15px;
  font-family: "Roboto Mono", monospace;
  resize: none;
  outline: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.feedback_input:focus {
  border-color: #efda38;
  box-shadow: 0 0 10px rgba(239, 218, 56, 0.5);
}

.submit_button {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  color: #000000;
  background-color: #efda38;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.submit_button:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.submit_button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.thank_you {
  font-size: 18px;
  color: #28a745;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.name_input {
  width: 80%;
  max-width: 700px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
  .name_input:focus {
  outline: none;
  border-color: #efda38;
  box-shadow: 0 0 5px rgba(239, 218, 56, 0.5);
}


@media (max-width: 768px) {

  .finish_page h1 {
    font-size: 25px;
  }
  
  .finish_page p {
    font-size: 15px;
  }
  
  .finish_page h2 {
    font-size: 20px;
  }
  
}