.pageContainer {
  display: flex;
  width: 90%;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: 15px;
  margin: 0 auto;
  max-width: 1200px; /* Ограничение ширины */
  box-sizing: border-box; /* Включаем padding и border */
  overflow: hidden; /* Прячем вылезающий контент */
}

.config_guide {
  
  font-family: "Roboto Mono", monospace;
  padding: 20px;
  max-width: 100%; /* Ограничиваем ширину */
  margin: 0 auto;
  color: #333;
  border-radius: 8px;
  line-height: 1.5;
  font-size: 15px;
  box-sizing: border-box; /* Учитываем padding */
}

.config_guide pre {
  background-color: #272822;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap; /* Перенос текста */
  word-wrap: break-word; /* Разрыв длинных слов */
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.taskButton{
  font-family: "Roboto Mono", monospace;
  width: 170px;
  height: 45px;
  font-size: 13px;
  background-color: #EFDA38;
  border-radius: 10px;
  border: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
    text-decoration: none;
    -webkit-appearance: none; /* Убирает стили браузера */
    appearance: none; /* Убирает стили браузера */
    color: inherit;
    align-self: flex-end;
}

.taskButton:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}



.config_guide h2 {
color: #2c3e50;
}

.config_guide h3 {
  color: #34495e;
  margin-top: 20px;
}

.config_guide ul,
.config_guide ol {
  padding-left: 20px;
  margin: 10px 0;
  margin: 0; /* Убираем отступы вокруг списка */
  padding: 0;
  list-style-position: inside;
}

.config_guide pre {
  background-color: #272822;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 14px;
}

.buttons_bar {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .pageContainer {
    font-size: 10px;
  }

  .taskButton{
    width: 120px;
    height: 45px;
    font-size: 10px;
  }
  
}